.SearchBar {
    width: 600px;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.positioning {
    display: flex;
    justify-content: space-around;
}

.logo {
    width: auto;
    height: 80px;
    display: block;
    margin: auto;
}

.ButtonDesign {
    width: auto;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}