.positioning {
    display: flex;
    justify-content: space-around;
}

.banner {
    width: 100%;
    height: auto;
    margin-bottom: 100px;
}

.ButtonDesign {
    width: auto;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.SearchBar {
    width: 600px;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.logo {
    width: auto;
    height: 80px;
    display: block;
    margin: auto;
}

.icon {
    height: auto;
    width: 60%;
    background-color: #ffab40a3;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

figcaption {
    font-size: large;
}