.SearchBar {
    width: 800px;
}

.FacultyList {
    width: 800px;
    position: absolute;
    left: 0;
}

.antd-button-text {
    display: block;
    font-size: large;
}

.FListParent {
    position: relative;
    width: 800px;
    margin: auto;
}

h2 {
    text-align: left;
    color: #1c4587;
    font-weight: bold;
}