.logodesign {
    height: 150px;
    width: auto;
}

.FirstNameInput {
    margin-bottom: 10px;
    margin-right: 5px;
    width: 250px;
}

.LastNameInput {
    margin-bottom: 10px;
    width: 145px;
}

.SignUpInput {
    margin-bottom: 10px;
    width: 400px;
}

.PasswordInput {
    width: 400px;
}

.parent {
    width: 400px;
    margin: auto;
}

.buttonsPositioning {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.positioning {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.antd-button-primary {
    background-color: #ffab40a3;
    color: black;
    border: 1px solid grey;
}

.antd-button-primary:hover {
    background-color: orange;
    color: black;
    border: 1px solid grey;
}